body {
    font-family: sans-serif;
    background-color: purple;
    color: white;
    margin-top: 130px;
    margin-left: 70px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#container {
position: fixed;
width: 340px;
height: 280px;
top: 50%;
left: 50%;
}
