body {
    font-family: sans-serif;
    background-color: purple;
    color: white;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#container {
position: fixed;
width: 340px;
height: 280px;
top: 50%;
left: 50%;
margin-top:140;
margin-left:170;
}
form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
If you entered the c